<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>profile page</h1>
        <a href="/auth/verify-mobile">Verify mobile</a>
        <script src="/js/profile.js"></script>
    </body>
</html>