<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
</head>
<body>
    <p><%= userId %> </p>
    <form action="/auth/change-password/?userId=<%=userId%>" method="POST">
        <input type="text" name="password" placeholder="Enter Your new password">
        <input type="text" name="confirm" placeholder="Confirm Password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>