<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SignIN</h1>
    <form action="/auth/create-session" method="POST">
        <input type="email" required="true" placeholder="your email" id="email" name="email">
        <input type="password" required="true" placeholder="your password" id="password" name="password">
        <input type="submit" value="signin">
    </form>
    <a href="/auth/forget-password">Forget password</a>
</body>
</html>