<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <h1>Verify your mobile number</h1>
    <input type="number" id="mobile" name="mobile" placeholder="Enter your mobile">
    <button id="sendotp">Send OTP</button>
    <input type="number" name="otp" id="otp" placeholder="Enter otp">
    <button id="verifyotp">Verify</button>
    <script src="/js/verify_mobile.js"></script>
</body>
</html>